
.login{
  background-color: #005cbb !important;
  width: 100px !important;
  height: 50px !important;
  margin: 37px 5px 10px 40px !important;
  float: left !important;
  color: white !important;
  border-radius: 10px !important;

}
.mat-mdc-form-field{
  background-color: #ffffff00 !important;
  float: left !important;
  width: 80% !important;
  margin: 30px !important;
  border-radius: 10px;
  border: #005cbb;
  border-width: 5px !important; 
}

.bar{
  display: flex;
  justify-content: space-between;
}
.icon{
  margin: 10px 5px 30px 5px !important;
}
.serach{
  margin: 40px !important;
}

.menu{
    display: block;
    width: auto;
    background-color: #f4f4f4;
    height: 100px;
    position: sticky;
    margin: auto;
    margin-bottom: 40px;
    position: sticky;
    top: 0px;
    right: 0px;
}
.serach{
    left: 100px;
    right: 100px;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
  }
  
  table td, table th {
    border: 1px solid #f2f2f2;
    border-width: 5px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;

  }
  
  table tr:nth-child(even){background-color: #e9e8e8d4;}
  table tr:nth-child(odd){background-color: #ecececf3;}
  
  table tr:hover {background-color: #bababa;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #005cbb;
    color: white;
  }

img{
  margin: 5px;

}
.button{
  display: flex !important;
  justify-content: center !important;
  margin-top: 10px;
  margin: auto;
  background-color: #f4f4f4;
  position: sticky;
  bottom: 0px;
  width: 70%;
}
.button button{
  width: 10% !important;
  height: 40px;
  margin-top: 10px;
} 
.button mat-form-field{
  width: 10% !important;
  height: 60px !important;
  margin-bottom: 0 !important; 
}
.page{
  width: 5% !important;
  margin: 10px !important;
}
.imgback{
  width: 100%;
  height: 100%;
  opacity: 0.6;
  overflow: hidden;
  margin: 0;
  position: fixed;
  z-index: -1;
  top: 30px;
  left: 0px;
}
.imgback img{
  width: 100%;
  height: 100%;
}
