<div class="bar">
  <div>
    <mat-form-field>
      <mat-label>کلیدواژه</mat-label>
      <input [(ngModel)]="keyword" (ngModelChange)="keywordChange()" type="text" matInput placeholder="جستجو کتاب، نویسنده  ">
    </mat-form-field>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">ورود</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="Librarian()">کتابداران</button>
    <button mat-menu-item (click)="Manager()">مدیر</button>
  </mat-menu>
</div>
@if (busy) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
@if (data) {
<table>
  <tr>
    <th>عنوان کتاب</th>
    <th>نویسنده</th>
    <th>قیمت</th>
  </tr>
  @for (item of data; track $index) {
  <tr>
    <td>{{item.title}}</td>
    <td>{{item.writer}}</td>
    <td>{{item.price}}</td>
  </tr>
  }
</table>
}
<div>
  <button [disabled]="page==0" (click)="prev()" mat-flat-button>قبلی</button>
  <button [disabled]="(data?.length??0)<size" (click)="next()" mat-flat-button>بعدی</button>
  <mat-form-field>
    <mat-label>تعداد</mat-label>
    <select [(ngModel)]="size" (ngModelChange)="pageChange()" matNativeControl required title="size">
      <option>5</option>
      <option>10</option>
      <option>20</option>
    </select>
  </mat-form-field>
</div>