<div class="login">
  <div class="imgback"><img src="assets\bd525cab6ea529063e0d658e1638cfa9.jpg" alt=""></div>
    <form (ngSubmit)="check()">
      <div class="example-container">
        <div>
          <mat-form-field>
            <mat-label>نام کاربری</mat-label>
            <input
              matInput
              placeholder="نام کاربری شما"
              [formControl]="username"
              (blur)="updateUsernameErrorMessage()"
              required
            />
            @if (username.invalid) {
              <mat-error>{{usernameErrorMessage()}}</mat-error>
            }
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>کلمه عبور</mat-label>
            <input
              matInput
              type="password"
              placeholder="کلمه عبور شما"
              [formControl]="password"
              (blur)="updatePasswordErrorMessage()"
              required
            />
            @if (username.invalid) {
              <mat-error>{{passwordErrorMessage()}}</mat-error>
            }
          </mat-form-field>
        </div>
        <div>
          <button [disabled]="busy || !username.valid || !password.valid" type="submit" class="b1" mat-raised-button>
            @if (busy==true) {
              <mat-spinner [diameter]="30"></mat-spinner>
            }
            @else {
              ورود
            }
          </button>
          <div>
            @if (serverMessage()!=''){
              <div class="error">
                  {{serverMessage()}}
              </div>
            }
          </div>
        </div>
      </div>
    </form>
</div>
