@if (action=='list'){
    @if (busy) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        
    }
    <div  class="actions">
        <button (click)="add()" mat-flat-button >افزودن</button>
    </div>
    @if (data) {
        <app-grid (select)="select.emit($event)" [selectable]="selectable" (refresh)="reload($event)" (onEdit)="edit($event)"  [data]="data" [columns]="columns"></app-grid>
    }
}
@else {
    <app-book-details [id]="current.id" [action]="action" (onCancel)="cancel()"></app-book-details>
}