table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }
  
  table td, table th {
    border: 1px solid #dcdcdc;
    border-width: 5px;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #e9e8e8;}
  
  table tr:hover {background-color: #e5e5e595;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #005cbb;
    color: white;
  }
  .button{
    display: flex !important;
    background-color: #e9e8e8;
    position: sticky;
    margin-top: 0px;
  }
  .button button{
    width: 10% !important;
    height: 50px;
    margin-top: 10px;
  }
  .button mat-form-field{
    margin-top: 10px;
    width: 10%;
  }

  td button{
    background-color: #005cbb !important;
    color: white !important;
  }
 