/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;


@font-face {
    font-family: Persian;
    src: url('/fonts/persian.woff2');
}

body {margin: 0; font-family: Persian }

*{
    font-family: Persian;
}.error{
    background-color: lightpink;
    padding: 0.6em;
    color: black;
    border-radius: 0.2em;
    margin-top: 0.5em;
    width: 100%;

}
  

body { margin: 0; font-family: Persian, "Persian", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Persian; }

html {
    @include mat.theme((
      typography: Persian,
      density: 0
    ));
  }
.actions {
    margin-bottom: 10px;
    margin-top: 5px;
}
// mat-sidenav-container {
//     @include mat.menu-overrides((
//       item-label-text-color: orange,
//       item-icon-color: red,
//       container-color: blue,
//       color: white
//     ));
//   }

